@import 'tailwindcss/dist/base.css';
@import 'tailwindcss/dist/components.css';
@import 'tailwindcss/dist/utilities.css';


::-webkit-scrollbar {
    width: 15px;
    height: 8px;
    background: #b0bd52;
}
::-webkit-scrollbar-thumb{
    background: #7e381f;
    border-radius: 10px;
}
.container-avocados{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    padding: 30px;
}
.container-avocados div {
    margin-bottom: 30px;
    padding: 10px;
}
.img-avocado{
    width: 60%;
    height: auto;
    margin: auto;
    border-radius: 50%;
}
@media (min-width: 200px){
    .container-avocados div {
        width: 100%;
        height: 300px;
    }
}
@media (min-width: 600px){
    .container-avocados div {
        width: 40%;
    }
}
@media (min-width: 800px){
    .container-avocados div {
        width: 30%;
    }
}
